  <%- include("partials/navbar.ejs") %>
  <div id="content">
      <div class="container my-3">
          <ul class="p-5">
            <% if(data.length!=0) {%>
              
              <% data.forEach((i) => { %>
                <div class="p-5 mb-5 border bg-body-tertiary rounded-3">
                    <h1 class="text-body-emphasis"><%= i.title %></h1>
                    
                    <% if (i.content.length >= 100){ %>
                      <p><%= i.content.substring(0, 100) + "..."%></p>
                    <% } else { %>
                      <p><%= i.content %></p>
                    <% } %>  
                    <a class="btn btn-primary px-5" href="/posts/<%= i._id %>">Go to Blog</a>
                    
                  </div>
            <%  }); %>
            <% } else {%>
              <div class="p-5 mb-5 border bg-body-tertiary rounded-3">
                <h2 class="text-body-emphasis">No Blogs Posted</h2>
                <p>. . . yet :)</p>
              </div>
            <% } %>
          </ul>
      </div>
  </div>  
  <%- include("partials/footer.ejs") %>