  <%- include("partials/navbar.ejs") %>
  <div id="content">
      <form class="container my-3" action=<%= type %> method="POST">
          <ul class="p-5">
            <% if(post_heading.length!=0 && post_body.length!=0) {%>
              <% for(var i=0; i<post_heading.length; i++){ %>
                  <div class="p-5 mb-5 border bg-body-tertiary rounded-3">
                    <h1 class="text-body-emphasis"><%= post_heading[i] %></h1>
                    <p><%= post_body[i] %></p>
                    <li><button class="btn btn-primary px-5" type="submit">Go to Blog</button></li>
                  </div>
              <% } %>
            <% } else {%>
              <div class="p-5 mb-5 border bg-body-tertiary rounded-3">
                <h2 class="text-body-emphasis">No Blogs Posted</h2>
                <p>. . . yet :)</p>
                <li><button class="btn btn-primary px-5" type="submit">Go to Blog</button></li>
              </div>
            <% } %>
          </ul>
      </form>
  </div>  
  <%- include("partials/footer.ejs") %>